### 1

In [1]:
import pandas as pd
ds=pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

### 2

In [2]:
print(ds)
print(type(ds))
print("convert pandas series to python list")
print(ds.tolist())
print(type(ds.tolist()))

0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
convert pandas series to python list
[2, 4, 6, 8, 10]
<class 'list'>

### 3

In [3]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
ds=ds1+ds2
print("Add two series")
print(ds)

ds=ds1-ds2
print("subtract two series")
print(ds)

ds=ds1*ds2
print("Multiply two series")
print(ds)

ds=ds1+ds2
print("Add two series")
print(ds)

ds=ds1/ds2
print("Divide two series")
print(ds)

Add two series
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract two series
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two series
0     2
1    12
2    30
3    56
4    90
dtype: int64
Add two series
0     3
1     7
2    11
3    15
4    19
dtype: int64
Divide two series
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

### 4

In [4]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
print(ds1)
print(ds2)
print("Equals:")
print(ds1==ds2)
print("Greater than:")
print(ds1>ds2)
print("Less than:")
print(ds1<ds2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5

In [5]:
d1={'a':100,'b':200,'c':300,'d':400,'e':800}
print("Orginal Dict")
print(d1)
new_series=pd.Series(d1)
print("converted series")
print(new_series)

Orginal Dict
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
converted series
a    100
b    200
c    300
d    400
e    800
dtype: int64

### 6

In [6]:
import pandas as pd
import numpy as np
np_array=np.array([10,20,30,40,50])
print("Numpy array:")
print(np.array)
new_series=pd.Series(np_array)
print("converted pandas series:")
print(new_series)

Numpy array:
<built-in function array>
converted pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

### 7

In [7]:
import pandas as pd
s1=pd.Series(['100','200','python','300.12','400'])
print("Original Data Series:")
print(s1)
print("change the said data type to numeric:")
s2=pd.to_numeric(s1,errors='coerce')
print(s2)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

### 8

In [8]:
import pandas as pd
d={'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
df=pd.DataFrame(data=d)
print("Original DataFrame:")
print(df)
s1=df.ix[:,0]
print("\n 1st column as a series:")
print(s1)
print(type(s1))

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

 1st column as a series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

C:\Users\HYMAVATHI\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

### 9

In [9]:
import pandas as pd 
import numpy as np
s1=pd.Series(['100','200','python','300.12','400'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a=np.array(s1.values.tolist())
print(a)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

### 10

In [10]:
import pandas as pd
s=pd.Series([['Red','Green','White'],
           ['Red','Black'],
           ['Yellow']])
print("Original series of list")
print(s)
s=s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

### 11

In [11]:
import pandas as pd
s=pd.Series(['100','200','python','300.12','400'])
print("Original Data Series:")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

### 12

In [12]:
print(s)
print("\n Data Series after adding some data:")
new_s=s.append(pd.Series(['500','php']))
print(new_s)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

 Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

### 13

In [13]:
import pandas as pd 
s=pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print("Original Data series")
print(s)
print("\n Subset of the above Data Series")
n=6
new_s=s[s<n]
print(new_s)

Original Data series
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

 Subset of the above Data Series
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

### 14

In [14]:
import pandas as pd
s=pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
print("Original Data Series:")
print(s)
s=s.reindex(index=['B','A','C','D','E'])
print("Data series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

### 15

In [15]:
import pandas as pd
s=pd.Series(data=[1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series")
print(s)
print("Mean:")
print(s.mean())
print("Standard Deviation:")
print(s.std())

Original Data Series
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean:
4.818181818181818
Standard Deviation:
2.522624895547565

### 16

In [16]:
import pandas as pd
sr1=pd.Series([1,2,3,4,5])
sr2=pd.Series([2,4,6,8,10])
print("Original Series:")
print("sr1:")
print(sr1)
print("sr2:")
print(sr2)
print("\nItems of sr1 not present in sr2:")
result=sr1[~sr1.isin(sr2)]
print(result)

Original Series:
sr1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
sr2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of sr1 not present in sr2:
0    1
2    3
4    5
dtype: int64

### 17

In [17]:
print(sr1)
print(sr2)
print("\nItems of a given series not present in another given series:")
sr11=pd.Series(np.union1d(sr1,sr2))
sr22=pd.Series(np.intersect1d(sr1,sr2))
result=sr11[~sr11.isin(sr22)]
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

### 18

In [18]:
import pandas as pd
import numpy as np
num_state=np.random.RandomState(100)
num_series=pd.Series(num_state.normal(10,4,20))
print("Original Series:")
print(num_series)
result=np.percentile(num_series,q=[0,25,50,75,100])
print("\nMininmum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Mininmum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

### 19

In [19]:
import numpy as np
import pandas as pd
num_series=pd.Series(np.take(list('0123456789'),np.random.randint(10,size=40)))
print("Original Series:")
print(num_series)
print("Frequency of each unique value of the said series:")
result=num_series.value_counts()
print(result)

Original Series:
0     5
1     5
2     8
3     9
4     4
5     3
6     9
7     2
8     8
9     7
10    3
11    5
12    0
13    5
14    4
15    3
16    7
17    9
18    8
19    2
20    3
21    2
22    5
23    2
24    7
25    8
26    7
27    3
28    1
29    2
30    1
31    2
32    8
33    2
34    8
35    0
36    0
37    9
38    4
39    3
dtype: object
Frequency of each unique value of the said series:
2    7
8    6
3    6
5    5
7    4
9    4
0    3
4    3
1    2
dtype: int64

### 20

In [20]:
import pandas as pd 
import numpy as np
np.random.RandomState(100)
num_series=pd.Series(np.random.randint(1,5,[15]))
print("Original Series:")
print(num_series)
print("Top 2 Freq:",num_series.value_counts())
result=num_series[~num_series.isin(num_series.value_counts().index[:1])]='other'
print(num_series)

Original Series:
0     3
1     1
2     1
3     3
4     4
5     1
6     2
7     3
8     2
9     3
10    1
11    3
12    2
13    1
14    4
dtype: int32
Top 2 Freq: 3    5
1    5
2    3
4    2
dtype: int64
0         3
1     other
2     other
3         3
4     other
5     other
6     other
7         3
8     other
9         3
10    other
11        3
12    other
13    other
14    other
dtype: object

### 21

In [21]:
import pandas as pd
import numpy as np
num_series=pd.Series(np.random.randint(1,10,9))
print("Original Series:")
print(num_series)
result=np.where(num_series%5==0)
print("Positions of numbers that are multiples of 5:")
print(result)

Original Series:
0    2
1    8
2    8
3    8
4    8
5    2
6    4
7    4
8    9
dtype: int32
Positions of numbers that are multiples of 5:
(array([], dtype=int64),)

### 22

In [22]:
import pandas as pd
num_series=pd.Series(list('2390238923902390239023'))
element_pos=[0,2,6,11,21]
print("Original Series:")
print(num_series)
result=num_series.take(element_pos)
print("\nExtract items at given positions of the said series:")
print(result)

Original Series:
0     2
1     3
2     9
3     0
4     2
5     3
6     8
7     9
8     2
9     3
10    9
11    0
12    2
13    3
14    9
15    0
16    2
17    3
18    9
19    0
20    2
21    3
dtype: object

Extract items at given positions of the said series:
0     2
2     9
6     8
11    0
21    3
dtype: object

### 23

In [23]:
import pandas as pd
series1=pd.Series([1,2,3,4,5,6,7,8,9,10])
series2=pd.Series([1,3,5,7,10])
print("Original Series:")
print(series1)
print(series2)
result=[pd.Index(series1).get_loc(i) for i in series2]
print("positions of items of series2 in series1:")
print(result)

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0     1
1     3
2     5
3     7
4    10
dtype: int64
positions of items of series2 in series1:
[0, 2, 4, 6, 9]

### 24

In [24]:
import pandas as pd
series1=pd.Series(['php','python','java','c#'])
print("Original Series:")
print(series1)
result=series1.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())
print("\nFirst and last char of each word to upper case:")
print(result)

Original Series:
0       php
1    python
2      java
3        c#
dtype: object

First and last char of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

### 25

In [25]:
import pandas as pd
series1=pd.Series(['Php','Python','Java','C#'])
print("Original Series:")
print(series1)
result=series1.map(lambda x:len(x))
print("\nNumber of char in each word in the said series:")
print(result)

Original Series:
0       Php
1    Python
2      Java
3        C#
dtype: object

Number of char in each word in the said series:
0    3
1    6
2    4
3    2
dtype: int64

### 26

In [26]:
import pandas as pd
series1=pd.Series([1,3,5,8,10,11,15])
print("Original series:")
print(series1)
print("\nDifference of differences between consecutive numbers of the said series:")
print(series1.diff().tolist())
print(series1.diff().diff().tolist())

Original series:
0     1
1     3
2     5
3     8
4    10
5    11
6    15
dtype: int64

Difference of differences between consecutive numbers of the said series:
[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

### 27

In [27]:
import pandas as pd 
data_series=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("Original Series:")
print(data_series)
print("\nSeries of data strings to a timeseries:")
print(pd.to_datetime(data_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of data strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

### 28

In [28]:
import pandas as pd
from dateutil.parser import parse
data_series=pd.Series(['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20'])
print("Original Series:")
print(data_series)

Original series:

NameError: name 'date_series' is not defined